:root
{
    --color1: #fff;
    --color2: #F31F53;
    --background1: #1f1f21;
    --background2: rgba(255, 255, 255, 0.274);
    --font-family: 'Montserrat', sans-serif;
}
*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
    color: var(--color1);
    font-family: var(--font-family);
}

html
{
    background-color: var(--background1);
    width: 100%;
    height: 100%;
}

body
{
    width: 100%;
    height: 100%;
}

span
{
    color: var(--color2);
}

.flex
{
    display: flex;
}

.flex-column
{
    display: flex;
    flex-direction: column;
}

header
{
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 10%;
    align-items: center;
    justify-content: space-between;
    padding: 20px 60px;
    background-color: var(--background1);
}
header ul
{
    column-gap: 20px;
}
header ul li a:hover
{
    color: var(--color);
    transition: all .55s ease ;
}

.contain-section
{
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;    
    column-gap: 50px;
    padding-top: 50px;
}
.contain-accueil
{
    width: 30%;
    align-items: center;
    justify-content: space-between;
}
.contain-accueil p em
{
    font-style: normal;
    font-size: 1.5em;
}
.contain-accueil p
{
    line-height: 30px;
}

.contain-projet
{    
    padding-top: 100px;
    padding-left: 45px;
    column-gap: 30px;
    flex-wrap: wrap;
}
.box-contain-projet
{
    background-color:var(--background2);
    max-width: 30%;
    max-height: 95%;
    padding: 10px 10px;
    margin-bottom: 20px;
    border-radius: 20px;
}
.box-projet
{
    max-width: 100%;
    max-height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.box-projet a
{
    text-align: center;
}
.box-projet img
{
    text-align: center;
    max-width: 50%;
}


.contain-e4
{
    width: 100%;
    height: 100%;    
    column-gap: 50px;
    padding-top: 100px;
    flex-direction: column;
    align-items: center;
}
.contain-e4 h2
{
    padding-bottom: 70px;
}
.box-contain-e4
{
    max-width: 80%;
    padding-bottom: 50px;
}
.box-contain-e4 h3
{
    padding-bottom: 9px;
}
.box-contain-e4 p
{
    line-height: 20px;
}

footer
{
    z-index: 1900px;
    width: 100%;
    height: 5%;
    text-align: center;
    background-color: #F31F53;
    display: flex;
    justify-content: center;
    align-items: center;
}